@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
.person {
    display: inline-block;
    height: 30em;
    overflow: hidden;
    position: relative;
    width: 16.2vw;
    border: none;
    min-width: 15em;
    margin: -0.1em;
}
.person img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.person h1, .person dl {
  background: hsla(0, 0%, 100%, 0.4);
  display: inline-block;
  margin: 0;
  position: absolute;
}
.person h1 {
  font-family: 'Permanent Marker';
  padding: 0 1em;
  top: 0;
}
.person dl {
  bottom: 0;
  font-size: 85%;
}
dt, dd {
    display: inline;
    padding: 0;
    margin: 0 0.1em;
}
dt {
    font-weight: bold;
}
@media print {
   .person {
     width: 65mm;
     height: 93mm;
     min-width: inherit;
   }
   body {
     font-size: 3.5mm;
   }
}
